

/*
################################################
#####LOGO#####
################################################
*/

.div-logo{

    display: flex;
    height: 3.25rem;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    

    &__title-logo {
        margin-right: 10px;    
        cursor: pointer;
        font-size: 10px;
        text-transform: uppercase;
        
    }

    &__logo {
        cursor: pointer;
    }

}


/*
################################################
#####USER NAVIGATION#####
################################################
*/

.first-section {
    background-image: linear-gradient(
        to right bottom,
        rgba(rgba(0, 0, 0, 0.8), 0.8),
        rgba(rgba(58, 57, 57, 0.514), 0.8)
        ),
    url('../../img/bg.png');
    background-size: cover;
    background-position: top;
    position: relative;
    background-repeat: no-repeat;
    display: grid;
    
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}


.header {
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
        padding: 0;
        
        cursor: pointer;
    }

    &__nav {  

        display: block;
        text-align: center;

        &__navigation {
            vertical-align: top; 
            display: inline-block;
            box-shadow: 
                1px -1px -1px 1px #000, 
                -1px 1px -1px 1px var(--default-color), 
                0 0 6px 3px var(--default-color);
            border-radius:6px;

            &>li {
                position: relative;
                float: left; 
                border-bottom: 4px #aaa solid; 
                margin-right: 1px; 

                &>ul {
                    display: none;
                    list-style: none;
                    
                    &>li>a {
                        text-decoration: none;
                    }

                }

                &:hover>ul{

                    display: block;
                    
                    &>li{
                        &>a{
                            color: var(--default-color);
                        }

                        &>a:hover{
                            border-bottom: 2px solid #FF2C55;
                            padding-bottom: 3px;
                        }

                    }
                    
                    

                }

            }

            &>li>a {
                margin-bottom: 1px;                
            }


        }

        &>ul {
            
            list-style: none;            
            text-align: center;
            padding: 0;
            margin: 0;

            

            &>li {
                list-style: none;
                font-size: 16px;
                line-height: 40px;
                height: 40px;
                border-bottom: none;
                padding-right: 10px;
                padding-left: 10px;
                
                &>ul{
                    display: none;
                }

                &>a{
                    text-decoration: none;
                    color: var(--default-color);
                    
                    transition: .3s;
                    border-bottom: none;

                    &:hover {
                        border-bottom: 2px solid #FF2C55;
                        padding-bottom: 3px;
                    }

                    &.active{
                        border-bottom: 2px solid #FF2C55;
                        padding-bottom: 3px;
                        
                    }
                }

                

            }

        }

    }

    &__login {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px;
        
        

        &__separator {
            border-left:1px solid var(--color-general); 
            border-right:1px solid var(--color-general);
            height:45px;
            margin: 0 21px 0 21px;        
            right:249px;
            top:10px;
            cursor: auto;           

        }

        &>button { 

            padding: .5rem 1rem;
            font-size: 13.5px;

        }

    }


}
